<div class="row">
    <div class="col-12">
        <h3>Crear Clientes</h3>
        <hr>
        <div id="formulario">
            <div class="form-group form-row">
                <label for="codigo" class="col-4 col-form-label">Nombre</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="ccustomer.name" #codigo="ngModel" class="form-control">
                </div>
            </div>
            <div class="form-group form-row">
                <label for="codigo" class="col-4 col-form-label">Direccion</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="ccustomer.address" #codigo="ngModel" class="form-control">
                </div>
            </div>
            <div class="form-group form-row">
                <label for="codigo" class="col-4 col-form-label">Ciudad</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="ccustomer.city" #codigo="ngModel" class="form-control">
                </div>
            </div>
            <div class="form-group form-row">
                <label for="plazo" class="col-4 col-form-label">Telefono</label>
                <div class="col-8">
                    <input type="number" [(ngModel)]="ccustomer.phone" #name="ngModel" class="form-control">
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success" (click)="create()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>Ver clientes</h3>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>DIRECCION</th>
                    <th>CIUDAD</th>
                    <th>TELEFONO</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>
                        {{customer.id}}
                    </td>
                    <td>
                        {{customer.name}}
                    </td>
                    <td>
                        {{customer.address}}
                    </td>
                    <td>
                        {{customer.city}}
                    </td>
                    <td>
                        {{customer.phone}}
                    </td>
                    <td>
                        <div class="btn-group btn-group-justified">
                            <button type="button" class="btn btn-default" (click)="open('update', customer)">
                                <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                            </button>
                            <button type="button" class="btn btn-default" (click)="open('delete', customer)">
                                <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #update let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Modificar Cliente</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h3>Modificar Cliente</h3>
        <div>
            <div class="form-group form-row">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-10">
                    <input type="text" class="form-control" [(ngModel)]="pcustomer.name">
                </div>
            </div>
            <div class="form-group form-row">
                <label for="plazoM" class="col-2 col-form-label">Direccion</label>
                <div class="col-10">
                    <input type="text" class="form-control" [(ngModel)]="pcustomer.address">
                </div>
            </div>
            <div class="form-group form-row">
                <label class="col-2 col-form-label">Ciudad</label>
                <div class="col-10">
                    <input type="text" class="form-control" [(ngModel)]="pcustomer.city">
                </div>
            </div>
            <div class="form-group form-row">
                <label class="col-2 col-form-label">Telefono</label>
                <div class="col-10">
                    <input type="text" class="form-control" [(ngModel)]="pcustomer.phone">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('close')">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="modal.close('update')">Aceptar</button>
    </div>
</ng-template>
<ng-template #delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Eliminar Cliente</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ¿Esta seguro de eliminar el cliente?
        <br>
        <div>
            <div class="form-group form-row">
                <label class="col-2 col-form-label">ID</label>
                <div class="col-10">
                    <input type="text" class="form-control" disabled="" [(ngModel)]="pcustomer.id">
                </div>
            </div>
            <div class="form-group form-row">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-10">
                    <input type="text" class="form-control" disabled="" [(ngModel)]="pcustomer.name">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('close')">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="modal.close('delete')">Aceptar</button>
    </div>
</ng-template>